/* ===================== GENERAL ===================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.5rem;

  --primary-color: hsl(0, 0%, 22%);
  --primary-lighter: hsl(0, 0%, 30%);
  --primary-darker: hsl(0, 0%, 20%);
  --secondary-color: hsl(38, 88%, 47%);
  --white: hsl(240, 21%, 96%);
  --white-darker: hsl(240, 21%, 100%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;

  overflow: auto;

  background-color: var(--primary-color);
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

.button {
  background-color: var(--primary-color);
  border: none;
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  width: fit-content;

  color: var(--white);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;

  transition: background 200ms;
}

.button:hover {
  background-color: var(--primary-darker);
}

section {
  padding-block: 10rem;
}

section header h1 {
  font-size: 5rem;
  color: var(--white);
  line-height: 130%;
  font-weight: 900;

  margin-bottom: 2.4rem;
}

section header h2 {
  line-height: 3.9rem;
  font-size: 2.5rem;
  color: var(--white);

  margin-bottom: 2rem;
}

section header h3 {
  font-size: 2rem;
  color: var(--primary-darker);
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;

  margin-bottom: 2rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 130%;

  color: var(--white);

  margin-bottom: 4rem;
}

h1 > span,
h2 > span {
  color: var(--secondary-color);
}

/* ===================== NAVIGATION ===================== */

nav {
  display: flex;
  width: 100vw;
  justify-content: center;

  height: var(--nav-height);
}

nav a {
  color: var(--white);
  font-weight: 400;
}

nav .logo {
  font-weight: 700;
  font-size: 2.5rem;

  margin-top: 2rem;
}

nav .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu a {
  border-top: 0.01rem solid var(--primary-lighter);
  padding: 0.5rem 0;
  background-color: var(--primary-color);
}

.menu a:hover {
  color: var(--secondary-color);
  background-color: var(--primary-lighter);
}

/* ===================== HOME ===================== */

#home {
  padding-block: 0;
  padding-top: calc(1rem + var(--nav-height));
}

#home h1 {
  padding-top: 4.5rem;
}

#home h1,
#home p,
#home a {
  position: relative;
}

#home .wrapper {
  position: relative;
  padding-bottom: 4rem;
  z-index: 100;
  margin: 0;
  width: 100%;
}

#home .wrapper::before {
  content: '';

  background-image: url(../imgs/men-and-dog-camping.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.65;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  margin-inline: auto;
}

/* ===================== ABOUT ===================== */

#about {
  padding-top: 2.5rem;
  padding-bottom: 10rem;
}

#about .content p {
  font-size: 1.4rem;
  text-align: center;
}

#about .content .button {
  background-color: var(--white);
  color: var(--primary-color);
}

#about .content .button:hover {
  background-color: var(--white-darker);
}

/* ===================== LOCATION ===================== */

#location {
  background-color: var(--white);
  padding-top: 5rem;
  padding-bottom: 1rem;
}

#location header img {
  width: 5rem;
}

#location .content p {
  color: var(--primary-color);
}

/* ===================== RENT ===================== */

#rent {
  background-color: var(--secondary-color);
  padding-top: 5rem;
  padding-bottom: 1rem;
}

#rent header img {
  width: 5rem;
}

#rent .content p {
  color: var(--primary-color);
}

/* ===================== CAMPFIRE ===================== */

#campfire {
  background-color: var(--white);
  padding-top: 5rem;
  padding-bottom: 1rem;
}

#campfire header img {
  width: 5rem;
}

#campfire .content p {
  color: var(--primary-color);
}

/* ===================== FOOTER ===================== */

footer {
  padding: 2.5rem;
  color: var(--white);
  font-size: 1.4rem;
}

@media (min-width: 1024px) {
  .wrapper {
    width: min(112rem, 100%);
  }

  section {
    padding-block: 16rem;
  }

  /* ===================== NAVIGATION ===================== */
  /* RESET */
  nav .wrapper * {
    margin: 0;
  }

  .menu {
    display: initial;
    justify-content: initial;
    flex-direction: initial;
  }

  nav .wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    width: 65%;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.2rem;
  }

  .menu a {
    border: 0;
  }

  .menu a:hover {
    color: var(--secondary-color);
    background-color: inherit;
  }
  /* ===================== HOME ===================== */

  #home {
    padding-block: 0;
    padding-top: calc(var(--nav-height) -);
  }

  #home .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
    margin-inline: auto;
    padding-inline: auto;
  }

  #home .wrapper::before {
    content: '';

    background-image: url(../imgs/men-and-dog-camping.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: left;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.65;
  }

  #home .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
  }

  #home .content p {
    padding-top: 7rem;
    text-align: center;
    margin-inline: auto;
  }

  #home header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #home header h1 {
    display: inline-block;
    padding-top: 10rem;
  }

  #home header div,
  #home header h1 {
    height: 100%;
  }
}
